/* Start Navbar */
p {
  margin: 0 !important;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  padding: 20px;
}

.nav .mobile {
  display: none;
}

.nav .nav-change {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-logo img {
  width: 100px;
}

.nav-logo h4 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
}

.nav-logo span {
  color: var(--dark-color);
}

.nav .nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 20px;

}

.link {
  color: var(--dark-color) !important;
  text-decoration: none !important;
}

.nav .nav-menu li {
  cursor: pointer;
  position: relative;
}


.nav .nav-menu .link:hover,
.nav .nav-menu .link.active {
  color: var(--main-color) !important;
}

.nav .nav-menu .link.active::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--main-color);
  width: 80%;
  bottom: 0;
  left: 0;
}

.nav .nav-login {
  cursor: pointer;
  color: var(--main-color);
  border: 1px solid;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: large;
}

.nav .nav-login:hover {
  color: white;
  background-color: var(--main-color);
}

.cart-count {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.cart-count .count {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 2;
  font-size: 11px;
  border-radius: 50%;
  background: #d60b28;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
}

/* End Navbar */

/* Start Search */
.search {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 20px;
  border-top: 1px solid #eee;
}

.search .categories {
  background-color: #C3DA88;
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 270px;
}

.search .categories p {
  font-weight: bold;
  font-size: 17px;
  margin-right: 15px;
}

.search .input-group {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.search .input-group .form-control,
.btnSearch {
  padding: 15px;
  font-size: large;
  border: 1px solid #EDF1FF;
}

.search .input-group .form-control {
  flex: 1;
}

.search .input-group .btnSearch {
  background-color: transparent;
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
}

/* end search */
/* Medium */
@media (max-width: 992px) {
  .nav .mobile {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: var(--main-color);
  }

  .mobile-header {
    height: 400px;
    background-color: var(--second-color);
    position: relative;
  }

  .nav {
    position: relative;
    gap: 0;
  }

  .nav .info h4 {
    font-size: 20px;
  }

  .nav .nav-menu ul {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  .nav .nav-menu ul li {
    padding: 0 20px;
  }

  .nav .nav-login {
    margin-top: 20px;
  }

  .nav .nav-change {
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    position: absolute;
    top: 120px;
    left: 0;
    display: none;
  }

  .mobile-menu-visible {
    display: flex !important;
  }

  .search .categories {
    width: unset;
  }

}